body {
  background: yellowgreen;

}
.login{
 width: 500px;
 margin: auto;
 color:black;
 
 background-color: yellow;
}
.login h1{
 font-size: 40px;
 text-transform: uppercase;
 margin:10px;
}
.login p{
  font-size: 20px;
  margin: 10px ;

}
.login  input {
  font-size: 16px;
  width: 90%;
  margin: 10px;
  border :0;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid blue;

}

.login button {
 padding: 5px 25px;
 margin: 10px;
 background: red;
 color:white;
 border-radius: 10px;
}

.nav{     
  display:inline;
  /*float: right;
  width: 100%;*/
  background-color: aqua;
}
.nav li{
  display: inline;
  margin-right: 5px; 
}